.drawer__header {
	background: $bhd;
}
.drawer__tab {
	color: $cui;
	text-shadow: 0 0 5px white
}
.drawer__header a:hover {
	background: $blb;
}
.drawer__inner__mastodon,
.drawer__inner {
	background: $btxt;
}

.navigation-bar,
.text-icon-button:hover {
	color: $curl;
}
.navigation-bar strong {
	color: white
}
.compose-form .compose-form__buttons-wrapper {
	background: $blb;
	border-top: 1px dotted $cui;
	box-shadow: 0 5px 20px -8px $btt2 inset;
}

.icon-button.inverted,
.text-icon-button,
.compose-form .compose-form__buttons-wrapper .character-counter__wrapper .character-counter {
	color: $btxt;
	text-shadow: 0 0 5px white;
}

.drawer__inner__mastodon>img {
	display:none;
}
.drawer__inner__mastodon {
	background: linear-gradient(
		to bottom,
		rgba(170, 48, 41,1),
		rgba(170, 48, 41,0),
		rgba(170, 48, 41,0)
		),
	url(https://cmx.im/strawberry/elephant.png) no-repeat bottom/100% auto;
}

.button {
	background: $cbut;
}
.button:hover {
	background: $curl;
}
.icon-button.inverted.disabled {
	color: $cui2;
}